body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

strong {
  user-select: none;
  -moz-user-select: none;
}

.node {
  background: #fff;
  border: 1px solid yellow;
  width: 1.8vw;
  display: inline-block;
  text-align: center;
}

.weight3 {
  background-image: url("./dice_3.png");
  background-size: 100% 100%;

}

.weight5 {
  background-image: url("./dice_5.png");
  background-size: 100% 100%;
}

.row {
  margin-top: -1px;
  height: 3.8vh;
}

.grid {
  /* margin: 100px 0 0 120px; */
  height: 70%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

.nav-item {
  margin-bottom: -4px;
}

.visited {
  border: 0.05px solid rgb(189, 189, 189);
  animation-name: visitedAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.instantVisited {
  border: 0.05px solid rgb(189, 189, 189);
  background-color: rgba(0, 190, 218, 0.75);
}

.path {
  border: 0.5px solid rgb(255, 230, 7);
  animation-name: pathAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.instantPath {
  border: 0.5px solid rgb(255, 230, 7);
  background-color: rgba(255, 251, 1, 0.75);
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

@keyframes pathAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(217, 57, 17, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(248, 192, 7, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(255, 251, 1, 0.75);
  }
}

.wall {
  border: 0px;
  background-color: rgb(0,0,0);
}

.contextMenu {
  position: absolute;
  background: white;
  box-shadow: 0px 2px 10px #999999;
  padding: 5px 10px 5px 10px;
  font-size: 14px;
  visibility: hidden;
}

.contextMenu .visible {
  visibility: visible;
}

